* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin:0;
  padding:0;
  background-color:#f3c8c9;
}
h1 {
  font-family: 'Changa One', cursive;
  font-size:30px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 1.5px;
  font-weight: 500;
}
.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px; 
}
.titulo button {
  margin-top:20px;
  margin-bottom: 10px;
}
button {
  border: 0;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  background-color: #31B6B2;
  border-radius: 5px; 
  outline: 0;
  padding:15px 15px;
}
button:hover {
  background-color: rgb(165, 197, 192);
}
.titulo img {
  width: 280px;
  height: 40px;
}
.area1 {
  display: flex;
  flex-direction: column;
  background-color:#ffffff;
}
.area1 .conteudo {
  padding: 15px 40px;
  text-align:center;
}
.titulo h1, .fundo h1 {
  text-shadow: 1px 0px 3px #666699 ;
}
.area2 h1, .area4 h1 {
  text-shadow: 1px 0px 3px white ;
}
.area1 h1, .area2 h1, .area4 h1 {
  color:#e8959b;
}
p {
  color: #666699;
  font-family: 'Candal', sans-serif;
  font-size: 18px;
}
.area2 {
  background-color:#ffffff;
}
.area2 .lista {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top:-10px;
}
ul {
  list-style: none;
  font-size: 22px;
  font-family: 'Candal', sans-serif;
  color: #666699;
}
.material-icons {
  color:green;
}
.imgs {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.imgs .imgs1 {
  display: flex;
}
.imgs .imgs2 {
  display: flex;
}
.imgs .imgs3 {
  display: flex;
}
.imgs img {
  width: 500px;
  height: 350px;
  margin-right: 20px;
}
.area3 .titulo {
  text-align: center;
}
.area3 .botao {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.area4 {
  background-color:#ffffff;
}
.area4 .conteudo {
  padding: 15px 40px;
  text-align:center;
  margin-top: -30px;
}
.area5 {
  background-color:#ffffff; 
}
.area5 .titulo {
  background-color:#f3c8c9;
}
.area5 .vagner {
  display: flex;
  padding: 15px 40px;
}
.vagner .assunto {
  text-align: center;
  padding: 15px 40px;
}
.vagner .imga5 img {
  width: 400px;
  height: 450px;
  padding:10px 10px;
}
.fundo {
  padding-top: 20px;
  background-color:#f3c8c9;
  color: #ffffff;
}
.fundo .imagens {
  display: flex;
}
.images img {
 max-width: 96%;
}
.area5 .botao {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom:20px;
}
.area6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.imggarantia {
  width: 300px;
  height:300px;
}
.area6 .conteudo {
  text-align: center;
  padding: 15px 40px;
}
footer {
  padding: 7px 0px;
  background-color:#666699;
  color:white;
  font-family: 'Candal', sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
}
.direitos {
  margin-right: 20px;
}
.eu {
  cursor:pointer;
  text-decoration:none;
}
.eu:hover {
  color:white;
}






@media only screen and (max-width: 600px) {
  iframe {
    width:350px;
    height:200px;
  }
  .imagens {
    flex-wrap: wrap;
  }
  .imgs img {
    width: 250px;
    height: 175px;
  }
  .imgs .imgs1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .imgs .imgs2 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .imgs .imgs3 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .vagner .imga5 img {
    width: 300px;
    height: 350px;
}
.vagner {
  flex-wrap: wrap;
  justify-content: center;
}
footer {
  padding-left:20px;
}
}
